<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration   
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
        <typeAlias type="cn.ylcto.student.vo.Admin" alias="Admin"></typeAlias>
    </typeAliases>

    <mappers>
        <mapper resource="mapping/AdminMapper.xml"></mapper>
    </mappers>
</configuration>