<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminNS">
    <resultMap id="adminResultMap" type="Admin">
        <id property="email" column="email"></id>
        <result property="password" column="password"></result>
        <result property="lastdate" column="lastdate"></result>
    </resultMap>

    <select id="findLogin" parameterType="Admin" resultType="Admin">
      select * from admin where email=#{email} and password=#{password}
    </select>

    <update id="doUpdateLastDate" parameterType="Admin">
        update admain set lastdate=#{lastdate} where email=#{email} and password=#{password}
    </update>

</mapper>